[use]
plugin = basics
plugin = analytics
plugin = spawn

[JSONParse]
separator = *

[env]
path = config
value = fix('_').prepend(env('loterreID')).append(env('langue'))

[exec]
command = loterre-annotate
#important : mettre 1 ou 2 en prod
concurrency = 1
args = fix('--dict-id')
args = fix(env('config'))
args = fix('--ezs')

[dump]
